doctype html
html
    head
        title ICE 
        link(rel = "stylesheet", href = "css/main.css")    
    body 
        div.header header
        div.container
            div.leftside stuff on the left side
            h1 Context for body

        div.footer footer