doctype html
html
    head
        title Gallery 
        link(rel = "stylesheet", href = "css/main.css")    
    body 
        div.header 
            h1= renderQuery 
            h1= renderCategory
