doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/main.css')
  title Auto Auction
  script(defer='' src='/table.js')
form.topnav(action='gallery' method='get')
  a(href='/') About
  a(href='/gallery') Gallery
  input(name='query' type='search' placeholder='Search..')
  select#cars(name='category')
    option None
    option(value='coupe') Coupe
    option(value='truck') Truck
    option(value='suv') SUV
  input(type='submit' value='Submit')
h1.listingh Auto Auction list
.listingColumn
  .tableContainer
    table(border='1')
      tr
        th Listing
        th Number of Bids
        th Top Bid
        th Auction Ends
      |                         {tablestr}
  #imgPreview.sideOfTable
